@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Grandstander:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Gothic A1', sans-serif;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.show {
  display: block;
}

.hide {
  display: none;
}

a {
  color: #fff;
}

.flex {
  display: flex;
}

.text_align {
  text-align: center;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

/* custom css */

header {
  color: white;
}

.social {
  position: fixed;
  position: absolute;
  right: 6%;
  bottom: 27%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 999;
}

.social a {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  width: 170px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}


::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;

}

.red_location,
.red_location2,
.red_location3 {
  display: none;
}



.background_viedo {
  position: relative;
  height: 100vh;
  background: url("./assets/banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.parashoot5 {
  transform: scale(1);
  top: -30%;
  position: absolute;
  right: 15%;
  width: 140px;
  height: 140px;
  animation: parshoot5move 20s linear infinite;
  opacity: 0.6;
}

.parashoot4 {
  transform: scale(1);
  top: 0%;
  position: absolute;
  right: 0%;
  width: 250px;
  height: 250px;
  animation: parshoot4move 25s linear infinite;
  opacity: 0.4;
}

.parashoot3 {
  transform: scale(1);
  top: 10%;
  position: absolute;
  right: 20%;
  width: 250px;
  height: 250px;
  animation: parshoot3move 25s linear infinite;
  opacity: 0.4;
}

.parashoot2 {
  transform: scale(1);
  top: 0%;
  position: absolute;
  left: 10%;
  width: 180px;
  height: 180px;
  animation: parshoot2move 20s linear infinite;
  opacity: 0.6;
}

.parashoot {
  transform: scale(1);
  top: -30%;
  position: absolute;
  left: 35%;
  width: 130px;
  height: 130px;
  animation: parshoot1move 20s linear infinite;
  opacity: 0.6;
}

/* key frames */
@keyframes parshoot5move {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
    top: 100%;
  }
}

@keyframes parshoot4move {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
    right: 120%;
  }
}

@keyframes parshoot3move {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
    right: 120%;
  }
}

@keyframes parshoot2move {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
    top: 90%;
  }
}

@keyframes parshoot1move {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
    top: 100%;
  }
}

/* BANNER SECTION */

.up_coming_heading {
  margin: 0 auto;
  max-width: 700px;
  color: white;
  margin-bottom: 40px;
}

.up_coming_matches {
  margin-bottom: 30px;
}

.upComingHeading {
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FF7A00;
}

.upComingPara {
  font-weight: 100;
  font-size: 16px;
}

.up_coming_matches {

  background-repeat: no-repeat;
  background-size: cover;
}

.upcommingDiv {
  margin: 0 auto;
  max-width: 1000px;
}




.bgmi_sec {
  padding: 20px;
  display: flex;


}

.flex {
  display: flex;
}

.left {
  padding: 20px;
  flex: 0 1 50%;
}


.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  flex: 0 1 50%;
  color: white;

}

.winning_prize {
  display: flex;
  justify-content: space-between;
}

.typeandversion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spots {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.btn {

  padding: 7px 29px;
  background-color: #FF7A00;
  border-radius: 10px;
  border: none;
  color: white;

}


.bgmiHead {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 700;
}

.winning_Para {
  margin-bottom: 10px;
}

.winning_Para_top {
  margin-top: 10px;
}

.input_range {
  width: 100%;
  accent-color: #FF7A00;
  margin-top: 10px;
}

.rupee {
  width: 13px;
  height: 13px;
}

.bgmi_para {
  font-size: 16px;
  font-weight: 400;
}

.text_color {
  font-weight: 700;
  font-size: 20px;
  color: yellow;
}

.text_map {
  font-weight: 700;
  font-size: 20px;
  color: #FF7A00;
}

.winning_sec_left {
  flex: 0 1 50%;
}

.winning_sec_right {
  flex: 0 1 50%;
}

.first {
  flex: 0 1 30%;
}

.second {
  flex: 0 1 25%;
}

.third {
  flex: 0 1 45%;
}

.spot_space {
  flex: 0 1 60%;
}

.button_space {
  flex: 0 1 30%;
}

.carusol {
  width: 100%;
}

.row {
  display: flex;
  overflow: hidden;
}

.imagegroup {
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  width: 100%;
  height: 170px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-x: scroll;
}

.imageItem {
  width: 350px;
}

.imagegroup img {
  flex-shrink: 0;
  object-fit: cover;
}

/* .imagegroup {
  animation: travel 5s ease-in-out infinite;
} */

@keyframes travel {

  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}



.banner_heading {
  position: absolute;
  width: 100%;
  top: 34.5%;
  font-size: 44px;
  letter-spacing: 34px;
  color: #003554;
  font-weight: 800;
}

.banner_subheading {
  width: 100%;
  position: absolute;
  top: 50%;
  color: white;
  letter-spacing: 29px;
  font-size: 30px;
}

.banner_para {
  font-weight: 700;
  color: white;
  position: absolute;
  bottom: 13%;
  width: 100%;
  font-size: 30px;
  letter-spacing: 10px;

}

.welcome {
  background: url("./assets/WELCOME.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}

.welcome_text {
  line-height: 22px;
  font-size: 16px;
  position: absolute;
  top: 40%;
  left: 15%;
  color: #ffffff;
  max-width: 400px;
  text-align: justify;
}

.bgmi_about {
  background-color: black;
  color: white;
  margin-top: 40px;
  position: relative;
}

.about_left {
  flex: 0 1 40%;
}

.stone_div {
  position: relative;
}

.stone_div2 {
  position: relative;
}

.about_right {
  flex: 0 1 49%;
  position: relative;
  padding: 100px 0px 0px 20px;
}

.gradient {
  width: 100%;
  position: absolute;
  background-image: radial-gradient(transparent, black 70%, black);
  height: 100%;
}

.gradient2 {
  width: 100%;
  position: absolute;
  background-image: linear-gradient(transparent, black 80%, black);
  height: 100vh;
  bottom: 0;
}

.gradient3 {
  width: 100%;
  position: absolute;
  background-image: linear-gradient(transparent, black 60%, black);
  height: 43%;
  bottom: 0%;
  z-index: 1000;
}

.scope_img {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.scope_bg_img {
  position: relative;
  margin-top: 100px;
}

.bg_img_scale {
  position: absolute;
  z-index: 999;
}

.bg_img_static {
  animation: scaleImg 5s infinite;

}

@keyframes scaleImg {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.bullets {
  position: absolute;
  top: 10%;
  left: 23%;
}

.about_alignment {
  position: absolute;
  top: 0;
  left: 0;
}

.about_heading {
  margin-bottom: 12px;
  font-weight: 700;
  color: #ffffff;

}

.scope {
  background-color: black;
  color: white;
  padding-top: 50px;
}

.scope_div {
  max-width: 780px;
  margin: 0 auto;
}

.scope_heading {
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}

.scope_Para {
  font-weight: 100;
}

.direction_indicator {
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 0px;
}

.up_coming_heading {
  margin: 0 auto;
  max-width: 700px;
  color: white;
  margin-bottom: 40px;
}

.up_coming_matches {
  margin-bottom: 30px;
}

.upComingHeading {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
  color: #FF7A00;
}

.upComingPara {
  font-weight: 100;
  font-size: 16px;
}

.up_coming_matches {
  background-repeat: no-repeat;
  background-size: cover;
}

.upcommingDiv {
  margin: 0 auto;


  max-width: 1000px;
}

.back_img {
  background: url("./assets/scope\ section\ banner.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  position: relative;
}

.scope_parashoot {
  width: 170px;
  position: absolute;
  top: 20%;
  left: 10%;
  opacity: 0.7;
}

.scope_target {
  width: 380px;
  position: absolute;
  top: 34.8%;
  left: 37.9%;
  opacity: 0.8;
}

.scope_back_img {
  position: absolute;
  top: 15%;
  left: 22%;
  width: 350px;
  height: 350px;
}

.scope_line {
  width: 196px;
  position: absolute;
  top: 17%;
  left: 19%;
}

.scope_line_red_dot {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 49%;
  left: 48.8%;
  background-color: rgba(255, 0, 0, 0.688);
  border-radius: 50%;
}

.scope_target_text {
  width: 70px;
  position: absolute;
  bottom: 10%;
  left: 40%;
  color: red;
  font-size: 14px;
  font-weight: 700;
}

#scope_target_timmer {
  position: absolute;
  top: 28%;
  right: 16%;
  width: 100px;
  font-size: 20px;
}

.about_text {
  padding: 15px;
  line-height: 20px;
  font-weight: 100;
  text-align: justify;
}

.main_bullet_mark_div {
  position: absolute;
  top: 30%;
  left: 35%;
}

.bullet_mark {
  border: 2px solid white;
  border-radius: 50%;
  padding: 26px 18px 10px 10px;
  width: 120px;
  height: 120px;
  background-color: #ffffff3d;
  z-index: 1000;
}

.main_clock_div {
  position: absolute;
  top: 52%;
  left: 23%;
  gap: 15px;
  align-items: center;
}

.clock {
  border: 2px solid white;
  border-radius: 50px;
  padding: 16px;
  width: 70px;
  height: 70px;
  background-color: #ffffff52;
}

.scope_text {
  font-weight: 100;
  display: flex;
  max-width: 600px;
  font-size: 19px;
  margin: 0 auto;
}

.guns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gun1 {
  width: 200px;
  height: 200px;
}

.gun2 {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.flex_icon {
  display: flex;
  flex-direction: column;
}

.main_exciting_div {
  position: absolute;
  bottom: 10%;
  left: 27%;
  gap: 12px;
  width: 100px;
  align-items: center;
  z-index: 1000;
}

.exciting {
  border: 2px solid white;
  border-radius: 50px;
  padding: 16px;
  width: 70px;
  height: 70px;
  background-color: #ffffff52;
}

.main_seamless_div {
  position: absolute;
  top: 33%;
  right: 22%;
  width: 100px;
  gap: 12px;
  align-items: center;
}

.seamless {
  border: 2px solid white;
  border-radius: 50px;
  padding: 16px;
  width: 70px;
  height: 70px;
  background-color: #ffffff52;
}

.main_down_person_div {
  position: absolute;
  bottom: 37%;
  right: 28%;
  width: 100px;
  gap: 12px;
  align-items: center;
}

.down_person {
  border-radius: 50px;
  padding: 12px;
  width: 60px;
  height: 60px;
  background-color: #ffffff52;
}

.main_cash_prize_div {
  position: absolute;
  bottom: 10%;
  right: 24%;
  width: 100px;
  gap: 12px;
  align-items: center;
  z-index: 1000;
}

.cash_prize {
  border: 2px solid white;
  border-radius: 50px;
  padding: 16px;
  width: 70px;
  height: 70px;
  background-color: #ffffff52;
}

.map {
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.map_img {
  background-color: black;
  color: white;
  padding-top: 50px;
  background: url("./assets/BG\ MAP.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80vh;
  position: relative;
}

.map_line {
  position: absolute;
  width: 1100px;
  top: 29%;
  left: 15%;
}

.red_circle {
  position: absolute;
  width: 50px;
  top: 34%;
  left: 50%;
}

.location_mark {
  position: absolute;
  width: 20px;
  top: 44%;
  left: 60.4%;
}

.main_circle_location_mark {
  position: absolute;
  bottom: 35%;
  left: 23.4%;
  align-items: center;
}

.circle_location_mark {
  border: 1px solid white;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  padding: 20px;
  margin-left: 10px;
}

.main_red_circle_location_mark {
  position: absolute;
  top: 14%;
  left: 13%;
}

.red_circle_location_mark {
  border: 1px solid white;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  padding: 20px;
}

.red_circle_location_mark:hover {
  background-color: #ff01017a;
}

.circle_playwin_location_mark:hover {
  background-color: #ff01017a;
}

.circle_location_mark:hover {
  background-color: #ff01017a;
}

.sign_up_text {
  font-size: 20px;
}

.main_circle_playwin_location_mark {
  position: absolute;
  bottom: 43%;
  right: 18%;
}

.circle_playwin_location_mark {
  border: 1px solid white;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  padding: 20px;
}

.redeem_text {
  font-size: 20px;
}

.play_text {
  font-size: 20px;
}

.location_mark3 {
  width: 25px;
  position: absolute;
  top: 27%;
  right: 26%;
  opacity: 0.5;
}

.location_mark4 {
  width: 25px;
  position: absolute;
  bottom: 27%;
  left: 10%;
  opacity: 0.5;
}

.map_text {
  font-weight: 100;
  font-size: 18px;
}

.hover-icons:hover {
  background-color: rgb(249, 142, 28);
}

.gradient4 {
  background-image: linear-gradient(black 70%, transparent);
  position: absolute;
  top: 0%;
  height: 18%;
  width: 100%;
}

.gradient5 {
  width: 100%;
  position: absolute;
  background-image: linear-gradient(transparent, black 110%, black);
  height: 100vh;
}

.bags_hel {
  position: absolute;
  right: 6%;
  top: 47%;
  width: 280px;
  opacity: 0.4;
}


.mobile_direction_indicator {
  display: none;
}



.marq_excitment {
  border: 2px solid white;
  padding: 25px;
  width: 100px;
  border-radius: 50%;
  height: 100px;
  background-color: #ffffff57;
}

.marq {
  width: 50px;
}


.marq_excitment_text {
  border: 2px solid white;
  width: 300px;
  text-overflow: clip;
}

.margen_left {

  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.display {

  display: flex;
  gap: 50px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  padding: 11px 120px;
  background: rgba(0, 0, 0, .1);
  backdrop-filter: blur(10px);
  z-index: 9999;
}

nav {
  padding: 5px 30px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: 36px;
}

.menu {
  list-style: none;
  gap: 20px;
}

.anqr {
  display: block;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: white;
  text-decoration: none;
}

.anqr {
  position: relative;
}

.anqr::after {
  content: "";
  position: absolute;
  background-color: #003554;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 2.9s;
}

.anqr:hover {
  color: #003554;
  text-shadow: 2px 2px 8px #003554;
}

.anqr:hover::after {
  width: 100%;
}

.login_button_div {
  border: 1px solid white;
  padding: 4px 20px 4px 24px;
  border-radius: 8px;
  margin-left: 30px;
  gap: 8px;
  align-items: center;
}

.login_button {
  color: white !important;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}

.login_img {
  width: 20px;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked~.menu {
  transform: scale(1, 1);
}


/* comming soon */


.commingsoon_header {
  padding: 20px;
  display: flex;
  justify-content: right;
  background-color: rgb(28 115 209 / 14%);
  z-index: 99;
  position: fixed;
  opacity: .5;
  width: 100%;
}

.log_out_btn {
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;

}



.pattseheadshot {
  color: #FF7A00;
  font-size: 30px;
}

.commingSoonPara {

  margin-bottom: 20px;
}

.teligram {

  font-size: 30px;
  padding: 10px;
}

.heading {
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;

}

.para2 {
  letter-spacing: 5px;
  font-size: 22px;
  margin-bottom: 10px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: white;
  background-color: aqua;
  background: url("./assets/sign\ up\ banner\ -\ Copy\ copy\ 1\ 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative;
  overflow: hidden; */
}

.play_comingsoon_text {
  margin: 20px 0px;
  font-size: 28px;
  letter-spacing: 18px;
  font-weight: 300;
}

.coomingsoon_date {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  color: #FF7A00;
}

.para3 {
  font-size: 22px;
  font-weight: 300;
}

.responsive-box {
  width: 80%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boxDiv {
  padding: 20px;
}

.team_map {
  font-size: 22px;
  margin: 20px;
}

.erangle_color {
  color: #028A21;
  font-weight: 700;
}



/* teams & condition */

.container2 {
  max-width: 1400px;
  margin: 20px auto;
  padding: 0 30px;
}

.terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  color: white;
  background-color: aqua;
  background: url("./assets/sign\ up\ banner\ -\ Copy\ copy\ 1\ 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.term_con_heading {
  font-size: 28px;
}

.term_con_subheading {
  font-size: 20px;
  margin: 10px 0px;
}

.term_con_subheading2 {
  font-size: 20px;
  margin: 30px 0px 20px 0px;
  text-align: left;
}

.term_con_para {
  font-size: 16px;
  margin: 14px 0px;
  text-align: left;
}

.term_con_list {
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}

.term_con_lastheading {
  font-size: 20px;
  margin-bottom: 12px;
}

/* privacy & policy */

.policy_heading {
  font-size: 28px;
}

.policy_subheading {
  font-size: 18px;
  margin: 20px 0px;
  text-align: left;
}

.policy_main_subheading {
  font-size: 20px;
  margin: 20px 0px;
}

.policy_para {
  font-size: 14px;
  text-align: left;
  margin-bottom: 8px;
}

.policy_list {
  font-size: 14px;
  text-align: left;
  margin-bottom: 6px;
}

.policy_points {
  padding-left: 30px;
}



/* custom section */


.buggi_imgDiv {
  max-width: 400px;
  width: 100%;
}

.buggiSec {
  text-align: center;

  color: white;
  width: 100%;
  height: 100vh;
  background: url("./assets/bg\ last\ section\ 1.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.spaceDiv {
  height: 200px;
}

.buggiDiv {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buggiSec_heading {
  font-size: 4rem;
}

.buggiSec_para {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer {
  color: white;
  width: 100%;
  height: 100vh;
  background: url("./assets/sunrise\ 2\ 1.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.anchorTags {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1.5rem;
}


.footer_para {
  padding: 10px;
}

.social_I {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  width: 50px;
}

.footer_text {
  padding: 10px;
  text-align: center;
}

.support {
  text-align: center;
}

.btnSingup {
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  padding: 0.5rem;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.timer_desc {
  font-family: 'Grandstander', cursive;
  font-weight: 900;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 15px;
  margin-bottom: 20px;

}

.time_para {
  font-size: 24px;
}

.text_div {
  padding: 10px;
}

.footerLogo {
  width: 200px;
}


.facebookicon {
  border-radius: 50%;
  transform: scale(1);
  background-color: #ffffff;
  color: rgb(28, 115, 209);
  padding: 4px;
}

.instagramicon {
  border-radius: 50%;
  transform: scale(1);
  background-color: #ffffff;
  color: #F61732;
  padding: 4px;
}

.twittericon {
  border-radius: 50%;
  transform: scale(1);
  background-color: #ffffff;
  color: black;
  padding: 4px;
}

.youtubeicon {
  border-radius: 50%;
  transform: scale(1);
  background-color: #ffffff;
  color: #FF0101;
  padding: 4px;
}

.telegramicon {
  border-radius: 50%;
  transform: scale(1);
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  color: rgb(28, 115, 209);
  padding: 4px;
}

.support {
  padding: 20px 0px;
}

@media screen and (min-width:1201px) and (max-width:1500px) {
  .map_line {
    display: none;
  }

  .gradient2 {
    height: 67vh;
  }
}

@media screen and (min-width:1025px) and (max-width:1200px) {
  .map_line {
    display: none;
  }

  .gradient2 {
    height: 73vh;
  }

  footer {
    margin-top: 60px;
  }

  .backimga {
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }

  .backimga img {
    width: 100%;
  }

  .main_down_person_div {
    right: 23%;
  }

  .main_cash_prize_div {
    right: 19%;
  }

  .main_seamless_div {
    right: 19%;
  }

  .map_line {
    width: 950px;
  }

  .main_red_circle_location_mark {
    bottom: 37%;
    left: 12.5%;
  }

  .main_circle_location_mark {
    bottom: 37%;
    left: 24.4%;
  }

  .main_circle_playwin_location_mark {

    bottom: 45%;
    right: 7.6%;
  }

  .location_mark {
    top: 42%;
    left: 67.4%;
  }
}

@media screen and (min-width:769px) and (max-width:1024px) {

  .gradient5,
  .gradient4,
  .parashoot,
  .map_line {
    display: none;
  }

  footer {
    margin-top: 50px;
  }

  .backimga img {
    width: 100%;
  }

  .header {
    padding: 11px 49px;
  }

  .backimga {
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }

  .main_circle_playwin_location_mark {
    bottom: 45%;
    right: 11%;
  }

  .banner_heading {
    top: 37%;
    font-size: 28px;
  }

  .gradient2 {
    height: 70vh;
  }

  .direction_indicator {
    width: 800px;
  }

  .scope_target {
    top: 23%;
    left: 32%;
  }

  .scope_back_img {
    display: block;
    width: 300px;
    left: 11%;
    top: 4%;
  }

  .main_clock_div {
    left: 17%;
  }

  .main_exciting_div {
    left: 23%;
  }

  .main_seamless_div {
    top: 26%;
    right: 17%;
  }

  .main_down_person_div {
    right: 20%;
  }

  .main_cash_prize_div {
    right: 17%;
    bottom: 11%;
  }

  .main_bullet_mark_div {
    left: 27%;
    top: 25%;
  }

  .bags_hel {
    width: 200px;
  }

  .map_line {
    width: 760px;
  }

  .location_mark {
    left: 64%;
    top: 39%;
  }

  .sign_up_text {
    left: 12.2%;
    top: 27%;
    font-size: 20px;
  }

  .circle_playwin_location_mark {
    right: 16%;
  }

  .redeem_text {
    font-size: 20px;
  }

  .play_text {
    font-size: 20px;
    right: 15%;
  }

  .circle_location_mark {
    bottom: 43%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

  .about_left,
  .bullets,
  .gradient2,
  .map,
  .timer_parashoot2,
  .parashoot5,
  .parashoot,
  .parashoot3,
  .gradient4,
  .map_line {
    display: none;
  }


  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }

  .background_viedo {
    background: url('./assets/tablet banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .banner_heading {
    top: 41.5%;
    font-size: 30px;
  }

  .gradient {
    background-image: radial-gradient(transparent, black 75%, black);
  }

  .welcome {
    height: 50vh;
  }

  .welcome_text {
    left: 25%;
  }

  .about_right {
    flex: 0 1 100%;
  }

  .about_alignment {
    text-align: center;
    padding: 0px 30px;
  }

  .stone_div {
    opacity: 0.5;
  }

  .back_img {
    background-size: cover;
  }

  .scope_div {
    padding: 0px 30px;
  }

  .scope_target {
    width: 350px;
    left: 28%;
  }

  .scope_line {
    width: 190px;
    top: 17%;
    left: 21%;
  }

  .scope_line_red_dot {
    left: 50%;
  }

  .main_clock_div {
    left: 12%;
  }

  .main_exciting_div {
    bottom: 18%;
    left: 20%;
  }

  .main_seamless_div {
    top: 26%;
    right: 13%;
  }

  .main_down_person_div {
    bottom: 43%;
    right: 10%;
  }

  .main_cash_prize_div {
    bottom: 19%;
    right: 19%;
  }

  .main_bullet_mark_div {
    left: 20%;
    top: 20%;
  }

  .scope_back_img {
    display: block;
    width: 280px;
    top: 0;
    left: 10%;
  }

  .direction_indicator {
    display: flex;
  }

  .timer_parashoot1 {
    top: 25%;
    left: 30%;
  }

  #demo {
    font-size: 30px;
  }

  .gradient3 {
    top: 57%;
  }

  .bags_hel {
    width: 220px;
    top: 72%;
    left: 39%;
    opacity: 0.6;
  }

  .backimga {
    -webkit-mask-size: 275px 275px;
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }

  .backimga img {
    width: 100%;
  }

  .bgmi_sec {
    flex-direction: column;
  }

  .header {
    padding: 0px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(60px);
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    padding: 20px 10px;
  }

  .menu a {
    font-size: 18px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }

  .login_button_div {
    margin: 0;
    padding: 0px;
    gap: 0;
    background-color: #003554;
  }

  .login_img {
    width: 21px;
    height: 21px;
  }

  .login_button_div a {
    padding: 4px 8px 4px 2px;
  }

  .login_button {
    left: 0;
  }

  .menu-icon {
    width: 36px;
  }

  .boxDiv {
    margin-top: 50px;
  }

  .coomingsoon_date {
    font-size: 44px;
  }

  .anchorTags {
    font-size: 20px;
  }

  .demo {
    flex-direction: column;
  }

  .box {
    height: auto;
    padding-top: 40px;
  }

  .comingsoon_img {
    width: 320px !important;
  }

  .middle {
    width: 75%;
  }

  .boxDiv {
    padding: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  .main_bullet_mark_div,
  .parashoot,
  .parashoot3,
  .parashoot5,
  .scope_target_text,
  .main_down_person_div,
  .direction_indicator,
  .map_line,
  .gun2,
  .dropBox,
  .bags_hel,
  .timer_parashoot1,
  .timer_parashoot2,
  .location_mark4,
  .location_mark3,
  .location_mark,
  .gradient5 {
    display: none;
  }

  .background_viedo {
    background: url("./assets/mobile\ banner\ 2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .welcome {
    object-fit: cover;
    height: 33vh;
  }

  .welcome_text {
    left: 0;
    top: 22%;
    padding: 10px;
    display: none;
  }

  .bgmi_about {
    flex-direction: column-reverse;
    padding-top: 20px;
  }

  .about_alignment {
    padding: 0px 16px;
    text-align: center;
  }

  .about_heading,
  .scope_heading {
    font-size: 20px;
  }

  .about_text {
    font-size: 11px;
    letter-spacing: 0px;
  }

  .bullets {
    left: 0;
    top: 40%;

  }

  .stone_div {
    padding-top: 60px;
  }

  .scope_div {
    padding: 0px 28px;
  }

  .back_img {
    background: url("./assets/scope\ new\ banner\ for\ mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .scope_target {
    left: 16%;
    width: 270px;
  }

  .scope_back_img {
    display: block;
    top: -14%;
    left: 10%;
    width: 220px;
  }

  .scope_line {
    width: 160px;
    top: 16%;
    left: 19%;
  }

  .scope_line_red_dot {
    width: 6px;
    height: 7px;
    top: 49%;
    left: 49.8%;
  }

  .direction_indicator {
    width: 320px;
  }

  #scope_target_timmer {
    font-size: 13px;
    left: 58%;
  }

  .guns_bags {
    left: 4%;
    bottom: 17%;
    opacity: 0.6;
  }

  .scope_text {
    padding: 0px 16px;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .guns {
    flex-direction: column;
    gap: 0;
    height: 200px;
  }

  .timer_parashoot1 {
    top: 8%;
    left: 10%;
    opacity: 0.7;
  }

  #demo {
    font-size: 28px;
  }

  footer {
    background-color: #0d1418;
  }

  .scope_parashoot {
    top: 10%;
  }

  .gradient3 {
    top: 40%;
    background-image: linear-gradient(transparent, black 67%, black);
    height: 60vh;
  }

  .bags_hel {
    width: 220px;
    top: 75%;
    left: 24%;
  }

  .gradient2 {
    background-image: linear-gradient(transparent, black 95%, black);
  }

  .banner_heading {
    font-size: 18px;
    letter-spacing: 8px;
    top: 40%;
    font-size: 22px;
  }

  .banner_subheading {
    font-size: 18px;
    letter-spacing: 6px;
    top: 46%;
  }

  .banner_para {
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 600;
  }

  .mobile_direction_indicator {
    padding-top: 40px;
    margin: 0 auto;
    display: block;
    width: 90%;
  }

  .main_bullet_mark_div {
    position: absolute;
    top: 38%;
    left: 13%;
  }

  .bullet_mark {
    border: 2px solid white;
    border-radius: 50%;
    padding: 18px 12px 6px 6px;
    width: 80px;
    height: 80px;
    background-color: #ffffff3d;
  }

  .main_exciting_div {
    bottom: 2%;
    left: 37%;
  }

  .exciting {
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px;
    width: 55px;
    height: 55px;
    background-color: #ffffff52;
  }

  .short_heading {
    font-size: 14px;
  }

  .map_img {
    background: url('./assets/mobile\ map\ img.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .red_circle {
    width: 40px;
    height: 40px;
    top: 40%;
    left: 38%;
  }

  .red_location {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 28%;
    top: 55%;
  }

  .red_location2 {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 54%;
    top: 47.4%;
  }

  .red_location3 {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 68%;
    top: 55%;
  }

  .circle_location_mark {
    background-color: #ff000063;
    left: 43%;
    bottom: 36%;
  }

  .redeem_text {
    bottom: 31%;
    left: 32%;
  }

  .map_text {
    margin-top: -15%;
    padding: 24px;
  }

  .stone_div2 {
    width: 100%;
    height: 100%;
  }

  .main_circle_location_mark {
    bottom: 19%;
    left: 39.4%;

  }

  .backimga {
    -webkit-mask-size: 220px 220px;
    position: absolute;
    left: 0;
    top: -1%;
    overflow: hidden;
  }

  .hover_img {
    width: 400px;
    height: 400px;
  }

  .backimga img {
    width: 100%;
  }

  .scope_img {
    width: 250px;
  }

  .gradient4 {
    top: 14%;
  }

  .clock,
  .cash_prize,
  .seamless {
    width: 55px;
    height: 55px;
  }

  .main_clock_div {
    top: 24%;
    left: 5%;
  }

  .main_seamless_div {
    left: 38%;
    top: 14%;
  }

  .main_cash_prize_div {
    top: 24%;
    right: 5%;
  }

  .main_circle_playwin_location_mark {
    right: 10%;
    bottom: 70%;
    width: 90px;
  }

  .circle_playwin_location_mark {
    margin-left: 6px;
  }

  .main_red_circle_location_mark {
    top: 15%;
  }

  .sign_up_text,
  .redeem_text,
  .play_text {
    margin-top: 10px;
    font-size: 18px;
  }

  .red_circle_location_mark,
  .circle_playwin_location_mark,
  .circle_location_mark {
    width: 55px;
    height: 55px;
    padding: 16px
  }

  .main_circle_playwin_location_mark {
    right: 9%;
    bottom: 68.4%;
  }

  .bgmi_sec {
    flex-direction: column;
  }

  .upComingPara {
    padding: 15px;
    text-align: justify;
  }

  .anchorTags {
    flex-direction: column;
  }

  .anchorTags {
    gap: 20px;
  }

  .text_color {
    font-size: 13px
  }

  .winning_Para {
    font-size: 15px;
  }

  .text_size {
    font-size: 12px
  }

  .rupee {
    width: 10px;
    height: 10px;
  }

  .typeandversion {
    gap: 34px;
  }

  .header {
    padding: 0px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(60px);
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    padding: 20px 10px;
  }

  .menu a {
    font-size: 18px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }

  .login_button_div {
    margin: 0;
    padding: 0px;
    gap: 0;
    background-color: #003554;
  }

  .login_img {
    width: 21px;
    height: 21px;
  }

  .login_button_div {
    padding: 10px;
  }

  .login_button {
    left: 0;
  }

  .text_map {
    font-size: 14px;
  }

  .menu-icon {
    width: 36px;
  }

  .heading {
    font-size: 20px;
  }

  .para2 {
    font-size: 14px;
    text-align: justify;
    letter-spacing: 2px;
  }

  .play_comingsoon_text {
    font-size: 24px;
    letter-spacing: 5px;
  }

  .coomingsoon_date {
    font-size: 38px;
  }

  .team_map {
    font-size: 16px;
  }

  .ancor {
    font-size: 16px;
  }

  .footer_para {
    font-size: 16px;
  }

  .support {
    font-size: 16px;
  }

  .footer_text {
    font-size: 16px;
  }

  .timer_desc {
    font-size: 30px;
    letter-spacing: 5px;
  }

  .time_para {
    padding: 10px;
    font-size: 20px;
  }

  .WiiningPoolSec {
    font-size: 14px;
  }

  .term_con_heading {
    font-size: 24px;
  }

  .term_con_subheading {
    font-size: 18px;
  }

  .term_con_subheading2 {
    font-size: 18px;
  }

  .term_con_para {
    font-size: 14px;
  }

  .term_con_lastheading {
    font-size: 18px;
  }

  .policy_heading {
    font-size: 24px;
  }

  .policy_main_subheading {
    font-size: 18px;
  }

  .policy_subheading {
    font-size: 18px;
  }

  .policy_para {
    font-size: 14px;
  }

  .policy_list {
    font-size: 12px;
  }

  .demo {
    flex-direction: column;
  }

  .box {
    height: auto;
    padding-top: 40px;
  }

  .comingsoon_img {
    width: 320px !important;
  }

  .middle {
    width: 70%;
  }

  .boxDiv {
    padding: 0px;
  }
}

/* .winning_sec_left{
  background-color: #FF7A00;
 
} */

.orange {
  font-size: 20px;
}


h5 {
  font-size: 20px;
  /* margin-bottom: 10px;
  margin-top: 10px; */
  padding: 5px;
}

h4 {
  font-size: 25px;
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .2);
  backdrop-filter: blur(10px);

}


.popup-content {
  color: black;
  /* padding: 20px; */
  text-align: center;
  background-color: transparent;
  width: 60%;
  max-width: 500px;
  margin: 10% auto;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.winningSec {
  background-color: #FF7A00;
  padding: 10px 0px;
}

.prizePool {
  color: #fff;
  padding: 10px 0px;
}

.fa-arrow-down {
  color: #FF7A00;
  font-size: 15px;
}

#openPopupBtn {
  background: none !important;
  border: none !important;
}

.demo {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.comingsoon_img {
  width: 400px;
}

.middle {
  width: 60%;
}

.ear {
  padding: 10px 0px;
}

.comingsoon_img img {
  box-shadow: 0px 6px 5px #ccc;

  border-radius: 190px
}

.room strong {
  color: #FF7A00;
}

.commingsoon_time_para {
  padding: 6px 0px;
}



.winnisec {

  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.inLine_block {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.prize {
  text-decoration: underline;
  color: #FF7A00;
}

.miranmar {
  color: #FF7A00;
}

.tableSec {
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  display: flex;
}

.chicken_dinner {
  color: #FFC700 !important;
  font-size: 12px;
}

.most_kill {
  color: #00FF29 !important;
  font-size: 12px;
}
.rest{
  font-size: 12px;
}

table {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;


}

.table th {
  color: white;
  font-weight: 700;

}

.table td {
  color: white;
  font-weight: 700;
}

.winnings_img {
  width: 300px;
}